# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('../Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert the date column format from string to datetime
df = df.astype({"date": "datetime64"})

In [ ]:
# Set the date column as the DataFrame index
df.set_index("date", inplace=True)

In [8]:
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [21]:
from scipy import stats

In [13]:
# Filter data for desired months
df_June = df.loc[df.index.month == 6, :]
df_Dec = df.loc[df.index.month == 12, :]

In [14]:
# Identify the average temperature for June
june_avg = df_June["tobs"].mean()

In [15]:
# Identify the average temperature for December
dec_avg = df_Dec["tobs"].mean()

In [19]:
# Create collections of temperature data
june_temps = list(df_June["tobs"])

dec_temps = list(df_Dec["tobs"])

In [29]:
len(df_Dec)

1517

In [25]:
june_avg

74.94411764705882

In [1]:
# Run paired t-test

stats.ttest_ind(june_temps, dec_temps)

NameError: name 'stats' is not defined

### Analysis

 An unpaired t-test is used because the temperatures taken during the different months are independent of each other. The difference between the mean temperatures of June and December are significantly different as an paried t-test results in a p-value of 3.9 E -181 indicating that the difference between the means is statistically significant.